.tasks{
    list-style-type: square;
    padding-left: 20px;
}

.exp{
    background-color: rgba(0, 96, 189, 0.483);
    width:fit-content;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.res{
    background-color: rgba(0, 96, 189, 0.483);
    width:fit-content;
    padding: 5px;
    border-radius: 5px;
    color: white;
}