.icons{
    font-style: normal;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 5px;
    background-color: rgba(113, 113, 113, 0.132);
    border-radius: 100%;
   
}

.all{
    margin-right: 10px;
}

span{
    position: relative;
    margin-top: 10px;
}

.cont{
    position: relative;
    margin-top: 10px; 
}
